* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    margin-left: 41px;
}

.header__accoutn {
    margin-left: 34px;
    margin-right: 34px;
}

.menu__pop:focus-within ~ .poped__up__menu,
.menu__pop:active ~ .poped__up__menu,
.poped__up__menu:hover{
    display: block;
}

.pt__menu{
    padding-top: 4px;
}

.header__right{
    position: relative;
    display: flex;
}

.clicks{
    height: 75px;
    display: flex;
    align-items: center;
}

.poped__up__menu{
    display: none;
    position: absolute;
    top: 100%;
    left:0px;
    width: 232px;
    height: 764px;
    background-color: #FFFFFF;
    z-index: 20;
}

.cross__img{
    display: none;
    position: absolute;
    left: 204px;
    top: 91px;
    z-index: 21;
}

.menu__pop:focus-within ~ .cross__img,
.menu__pop:active ~ .cross__img,
.menu__pop:visited ~ .cross__img,
.poped__up__menu:hover ~ .cross__img{
    display: initial;
}

.menu{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-top: 37px;
    margin-left: 34px;
    color: #000000;
}

.m__vsited:visited{
    color:#000000;
}

.people{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.mt__people:first-of-type{
    margin-top: 24px;
}

.mt__people{
    margin-top: 20px;
}

.category{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 22px;
    margin-top: 11px;
}

.c__visited{
    color: #6F6E6E;;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo__left {
    width: 50%;
}

.promo__img {
    width: 100%;
}

.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog__item {
    position: relative;
}

.catalog__item:not(:last-child) {
    margin-right: 30px;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__img {
    width: 100%;
}

.catalog-big {
    margin-top: 30px;
    position: relative;
}

.catalog-big__img {
    width: 100%;
}

.catalog__heading{
    color:#F16D7F;
}

.catalog__text{
    color: #ffffff;
}

.product-box {
    padding-top: 97px;
}

.product-box__heading,
.product-box__text {
    text-align: center;
}

.product {
    width: 360px;
    background: #F8F8F8;
    position: relative;
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product:hover .product__add {
    display: flex;
}

.product_mb {
    margin-bottom: 30px;
}

.product-content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__info {
    padding: 24px 16px 20px;
}

.product__text {
    margin-top: 12px;
    margin-bottom: 18px;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 139px;
    height: 44px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;
    color: #FFFFFF;
}

.product__add:hover {
    box-shadow: 0 0 5px #fff;
}

.button__catalog{
    display: flex;
    justify-content: center;
    margin-top: 49px;
}

.go__to__catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.go__to__catalog:hover{
    color: white;
    background: #FF6A6A;
}

.black__fone{
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
    display: flex;
    justify-content: space-around;
}

.black__item{
    width: 360px;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
}

.black__heading{
    color:#FBFBFB;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
}

.black__text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 16px;
}

.b1{
    padding-top: 28px;
}

.b2{
    padding-top: 20px;
}

.b3{
    padding-top: 25px;
}

.subscribe{
    height:448px;
    background-image: url(img/photo__subscribe.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.subscribe__block{
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__img{
    text-align: center;
    padding-top: 97px;
}

.subscribe__text{
    width: 360px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center; 
    color: #222224;
    padding-top: 30px;
}

.subscribe__heading{
    padding-top: 150px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.form{
    position: relative;
}

.subscribe__email{
    background: #E1E1E1;
    width:323px;
    height: 49px;
    border-radius: 30px;
    padding-left: 22px;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    border-width: 0px;
    margin-top: 32px;
}

.subscribe__button{
    position: absolute;
    background-color:#F16D7F;
    height: 49px;
    width: 100px;
    top: 32px;
    left: 224px;
    border-radius: 0px 30px 30px 0px;
    border-width: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}

.copyright{
    height: 79px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copright__block{
    display: flex;
}

.mr{
    margin-right: 7px;
    position: relative;
}

.copy__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.we__are__in{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mr:hover .we__are__in{
    display: flex;
}

.new__info{
    height: 148px;;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.right__text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.pink__text{
    color:  #F16D7F;
}

.choice__menu{
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 65px;
}

.list__pop__up:not(:last-child){
    margin-right: 48px;
}

.product__pt{
    padding-top: 0px;
}